#container>div{
               background-color: lightgray;
               width: 300px;
               height: 300px;
               margin: 5px;
}

#container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            
}



@media screen and (min-width:375px){
     
    #container{
         display: flex;
         flex-direction: column;
         
    }
    #container>div{
                     background-color: lightpink;
    }

}
